<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ll.uicomponentexample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".example.TouchEventTestActivity"></activity>
        <activity android:name=".example.ChameleonViewExampleActivity" />
        <activity android:name=".example.SuctionBottomLayoutExampleActivity" />
        <activity android:name=".example.ClearEditTextViewExampleActivity" />
        <activity android:name=".example.RotateTextViewExampleActivity" />
        <activity android:name=".example.ShapeTextViewExampleActivity" />
        <activity android:name=".example.FormViewExampleActivity" />
        <activity android:name=".example.EmptyViewExampleActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>